{% extends 'flatpages/default.html' %}

{% load censor_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Новости</h1>
    <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
   <h3> {{ novosti|default_if_none:"Только свежие новости и только тут!" }} </h3>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Раздел</td>
               <td>Информация</td>
           </tr>

           {% for new in news %}
           <tr>
               <td>{{ new.name }}</td>
               <td>{{ new.description|censor|truncatewords:150 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Старые новости</h2>
   {% endif %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}